@font-face {
    font-family: "Pixel Font";
    src: url("/resources//fonts/UASQUARE.TTF") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

#menu-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* background-color: #000000a0; */
}

#main-menu {
    color: #fff;
    font-family: "Pixel Font";
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    user-select: none;
}

#game-title {
    font-size: 6rem;
    margin-top: 0;
    filter:
        drop-shadow(0px 0px 2.5px #ffffff) drop-shadow(0px 0px 10px #0084ffa0) drop-shadow(0px 0px 10px #0084ffa0);
    animation-name: breathe;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-iteration-count: infinite;
    letter-spacing: 10;
}

#menu-selection {
    list-style: none;
    padding: 0;
    font-size: 3rem;
    margin-bottom: 20.15%;
}

.menu-choice {
    margin-bottom: 0.75em;
    cursor: pointer;
    max-width: max-content;
    transition: all .25s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
}

.menu-choice:hover {
    filter: drop-shadow(0px 0px 1px #ffffff4a);
    transform: translate(10);
}

.cnt-play {
    color: #fdfdfd;
    transform: scale(0.9) !important;
    filter: grayscale(1);
}

.selected {
    transform: scale(1.2) translateX(10);
    /* filter:
    drop-shadow(0px 0px 2.5px #ffffff) drop-shadow(0px 0px 10px #0084ffa0) drop-shadow(0px 0px 1px #0084ff20); */
    text-shadow: 0 -1px 4px #FFF, 0 -2px 14px rgb(0, 204, 255), 1 1px 17px #0026ff, -1 -1px 1px rgb(111, 0, 255);
}

.selected:hover {
    /*exception case*/
    transform: scale(1.2) translateX(20) !important;
}

#options-selection {
    padding: 0;
    list-style: none;
    position: absolute;
    top: 10.725em;
    left: 7em;
    font-size: 2.5rem;
    display: none;
    animation-name: smooth-in;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-fill-mode: forwards;
}

.options-choice {
    margin-bottom: 0.75em;
    filter: drop-shadow(0px 0px 2px #ffffff);
    cursor: pointer;
    transition: all .25s cubic-bezier(0, 0, 0.2, 1);
}

.options-choice:hover {
    text-shadow: 0px 0px 10px #ffffff;
}

.option-selected:after {
    content: "";
    display: block;
    position: relative;
    top: 10px;
    /* width: 100%; */
    height: 3px;
    background-color: #fff;
    animation-name: expand-smooth-in;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-fill-mode: forwards;
}

.options-choice:focus:after {
    width: 100%;
}

#tutorial-splash {
    color: #fff;
    position: fixed;
    filter: drop-shadow(0px 0px 2px #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    height: 100vh;
    width: 100vw;
    display: none;
    animation: fade-in 0.3s ease;
}

#explanation {
    text-align: center;
    position: relative;
    top: -80px;
}

#level-indicator {
    color: #fff;
    position: fixed;
    filter: drop-shadow(0px 0px 2px #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    height: 100vh;
    width: 100vw;
}

#level-indicator span {
    position: relative;
    top: 4em;
    left: -1.4em;
}

@keyframes breathe {
    0% {
        filter: drop-shadow(0px 0px 2px #ffffff);
    }

    50% {
        filter:
            drop-shadow(0px 0px 2.5px #ffffff) drop-shadow(0px 0px 2px #0084ffa0);
    }

    100% {
        filter: drop-shadow(0px 0px 2px #ffffff)
    }
}

/* TODO: Make animation on exit as well*/
@keyframes smooth-in {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }

    100% {
        opacity: 1;
        transform: translateX(-10%);
    }
}

@keyframes smooth-out {
    0% {
        opacity: 1;
        transform: translateX(-10%);
    }

    100% {
        opacity: 0;
        transform: translateX(-30%);
    }
}

@keyframes expand-smooth-in {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}